<h1 mat-dialog-title>{{ isEditMode ? 'Editar Batelada' : 'Adicionar Batelada' }}</h1>

<div mat-dialog-content [formGroup]="batchForm">
  
  <!-- Seção de Uso de Recursos -->
  <h2>Uso de Recursos</h2>
  <div formArrayName="resourceUsages">
            <div *ngFor="let resourceUsage of resourceUsages.controls; let i=index" [formGroupName]="i" class="form-array-item-container">
      <button mat-icon-button color="warn" (click)="removeResourceUsage(i)" title="Remover Recurso" class="remove-button">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <div class="form-fields-container">
        <div class="form-array-item-row">
          <mat-form-field appearance="fill">
            <mat-label>Recurso</mat-label>
            <mat-select formControlName="resourceId" required>
              <mat-option *ngFor="let resource of getAvailableResources(i)" [value]="resource.id">{{ resource.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Qtd. Inicial (kg)</mat-label>
            <input matInput type="text" formControlName="initialQuantity" appDecimalMask required>
          </mat-form-field>
        </div>
        <div class="form-array-item-row">
          <mat-form-field appearance="fill">
            <mat-label>Umidade (%)</mat-label>
            <input matInput type="text" formControlName="umidity" appDecimalMask required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Qtd. Adicionada (kg)</mat-label>
            <input matInput type="text" formControlName="addedQuantity" appDecimalMask required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addResourceUsage()">Adicionar Recurso</button>

  <!-- Seção de Uso de Máquinas -->
  <h2 class="section-title">Uso de Máquinas</h2>
  <div formArrayName="machineUsages">
    <div *ngFor="let machineUsage of machineUsages.controls; let i=index" [formGroupName]="i" class="form-array-item-container">
      <div class="form-array-item-row">
        <button mat-icon-button color="warn" (click)="removeMachineUsage(i)" title="Remover Máquina">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-form-field appearance="fill">
          <mat-label>Máquina</mat-label>
          <mat-select formControlName="machineId" required>
            <mat-option *ngFor="let machine of getAvailableMachines(i)" [value]="machine.id">{{ machine.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tempo de Uso (horas)</mat-label>
          <input matInput type="text" formControlName="usageTime" appDecimalMask required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addMachineUsage()">Adicionar Máquina</button>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="batchForm.invalid">Salvar</button>
</div>