.form-array-item-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 8px;
  margin-bottom: 16px;
}

.form-fields-container {
  flex-grow: 1;
}

.remove-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: -16px; /* Adjust as needed */
}

.form-array-item-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-array-item-row mat-form-field {
  flex-grow: 1;
}

.button-placeholder {
  width: 40px; /* Same width as mat-icon-button */
  height: 40px; /* Same height as mat-icon-button */
  margin-right: 8px; /* Same as gap */
}

.section-title {
  margin-top: 24px;
  margin-bottom: 16px;
}

:host ::ng-deep .mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
}

button[mat-stroked-button] {
  padding: 8px 16px;
}