<div class="container">
  <h1>Máquinas</h1>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openMachineForm()" class="add-button">Adicionar Máquina</button>
  </div>

  <table mat-table [dataSource]="machines" class="mat-elevation-z8">

    <!-- Colunas de Dados -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="power">
      <th mat-header-cell *matHeaderCellDef> Potência </th>
      <td mat-cell *matCellDef="let element"> {{element.power | decimalFormat}} CV </td>
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openMachineForm(element)" title="Editar Máquina">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteMachine(element.id)" title="Excluir Máquina">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
