.mat-mdc-dialog-actions {
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 8px; /* Espaçamento entre os botões */
  align-items: center; /* Centraliza verticalmente os botões */
}
