<h1 mat-dialog-title>Queimas de Biscoito</h1>

<div mat-dialog-content class="dialog-content">
  <button mat-raised-button color="primary" (click)="openBisqueFiringForm()">Adicionar Queima de Biscoito</button>

  <table mat-table [dataSource]="bisqueFirings" class="mat-elevation-z8">

    <!-- Colunas de Dados -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Criado Em </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Atualizado Em </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.updatedAt !== element.createdAt">
          {{element.updatedAt | date:'short'}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperatura (°C) </th>
      <td mat-cell *matCellDef="let element"> {{element.temperature | decimalFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="burnTime">
      <th mat-header-cell *matHeaderCellDef> Tempo de Queima (horas) </th>
      <td mat-cell *matCellDef="let element"> {{element.burnTime | decimalFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="coolingTime">
      <th mat-header-cell *matHeaderCellDef> Tempo de Resfriamento (horas) </th>
      <td mat-cell *matCellDef="let element"> {{element.coolingTime | decimalFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="gasConsumption">
      <th mat-header-cell *matHeaderCellDef> Consumo de Gás (m³) </th>
      <td mat-cell *matCellDef="let element"> {{element.gasConsumption | decimalFormat}} </td>
    </ng-container>

    

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Custo (R$) </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.cost !== null && element.cost !== undefined">
          {{element.cost | currency:'BRL'}}
        </span>
      </td>
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openBisqueFiringForm(element)" title="Editar Queima">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBisqueFiring(element.id)" title="Excluir Queima">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fechar</button>
</div>