.usage-row {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 10px;
}

.employee-usage-section {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
