<div class="container">
  <h1>Esqueci minha senha</h1>
  <p>Por favor, insira o seu endereço de e-mail abaixo. Nós lhe enviaremos um link para redefinir sua senha.</p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required appTrim>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
  </form>
  <p *ngIf="message">{{ message }}</p>
  <p><a routerLink="/login">Voltar para o login</a></p>
</div>
