<div class="container">
    <h1>Categorias de Funcionário</h1>

    <table mat-table [dataSource]="employeeCategories" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Data de Atualização </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.updatedAt !== element.createdAt">
                    {{element.updatedAt | date:'short'}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <div class="action-buttons-container">
                    <button mat-icon-button color="primary" (click)="openEmployeeCategoryForm(element)"
                        title="Editar Categoria">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployeeCategory(element.id)"
                        title="Excluir Categoria">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="openEmployeeCategoryForm()">Adicionar Categoria</button>
  <button mat-button (click)="onClose()">Fechar</button>
</div>