<h1 mat-dialog-title>{{ isEditMode ? 'Editar Queima de Glasura' : 'Adicionar Queima de Glasura' }}</h1>

<div mat-dialog-content [formGroup]="glazeFiringForm">
  <mat-form-field appearance="fill">
    <mat-label>Temperatura (°C)</mat-label>
    <input matInput type="text" formControlName="temperature" appDecimalMask required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tempo de Queima (horas)</mat-label>
    <input matInput type="text" formControlName="burnTime" appDecimalMask required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tempo de Resfriamento (horas)</mat-label>
    <input matInput type="text" formControlName="coolingTime" appDecimalMask required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Consumo de Gás (m³)</mat-label>
    <input matInput type="text" formControlName="gasConsumption" appDecimalMask required>
  </mat-form-field>

  <!-- Seção de Produtos Glasurados -->
  <h2 class="section-title">Produtos</h2>
  <div formArrayName="glosts">
    <div *ngFor="let glost of glosts.controls; let i=index" [formGroupName]="i" class="form-array-item-container">
      <button mat-icon-button color="warn" (click)="removeGlost(i)" title="Remover Produto Esmaltado" class="remove-button">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <div class="form-fields-container">
        <div class="form-array-item-row">
          <mat-form-field appearance="fill">
            <mat-label>Produto</mat-label>
            <mat-select formControlName="productTransactionId" required>
              <mat-option *ngIf="getAvailableProducts(i).length === 0" disabled>Não há mais produtos para selecionar</mat-option>
              <mat-option *ngFor="let transaction of getAvailableProducts(i)" [value]="transaction.id">{{ transaction.productName }} - ID: {{ transaction.id }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Glasura</mat-label>
            <mat-select formControlName="glazeId" required>
              <mat-option *ngIf="getAvailableGlazes(i).length === 0" disabled>Não há mais glasuras para selecionar</mat-option>
              <mat-option *ngFor="let glaze of getAvailableGlazes(i)" [value]="glaze.id">{{ glaze.color }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Quantidade (kg)</mat-label>
            <input matInput type="text" formControlName="quantity" appDecimalMask required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addGlost()" class="add-button">Adicionar Produto</button>

  <!-- Seção de Uso de Máquinas -->
  <h2 class="section-title">Uso de Máquinas</h2>
  <div formArrayName="machineUsages">
    <div *ngFor="let machineUsage of machineUsages.controls; let i=index" [formGroupName]="i" class="form-array-item-container">
      <button mat-icon-button color="warn" (click)="removeMachineUsage(i)" title="Remover Máquina" class="remove-button">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <div class="form-fields-container">
        <div class="form-array-item-row">
          <mat-form-field appearance="fill">
            <mat-label>Máquina</mat-label>
            <mat-select formControlName="machineId" required>
              <mat-option *ngIf="getAvailableMachines(i).length === 0" disabled>Não há mais máquinas para selecionar</mat-option>
              <mat-option *ngFor="let machine of getAvailableMachines(i)" [value]="machine.id">{{ machine.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tempo de Uso (horas)</mat-label>
            <input matInput type="text" formControlName="usageTime" appDecimalMask required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addMachineUsage()" class="add-button">Adicionar Máquina</button>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="glazeFiringForm.invalid">Salvar</button>
</div>
