.form-array-item {
  display: flex;
  align-items: center;
  gap: 16px; /* Espaçamento entre os campos */
  margin-bottom: 16px; /* Espaçamento entre os itens do array */
}

.section-title {
  margin-top: 24px; /* Espaçamento acima dos títulos de seção */
  margin-bottom: 16px;
}
