<h1 mat-dialog-title>Registrar Transação de Produto</h1>

<div mat-dialog-content [formGroup]="transactionForm">
  <mat-form-field appearance="fill">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" formControlName="quantity" required min="1">
    <mat-error *ngIf="transactionForm.get('quantity')?.hasError('integer')">
      O valor deve ser um número inteiro.
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="transactionForm.invalid">Salvar</button>
</div>