<mat-toolbar color="primary">
  <span>Ceramic Management</span>
  <span class="spacer"></span>
  <ng-container *ngIf="(authService.isLoggedIn$ | async) as isLoggedIn">
    <a mat-button routerLink="/resources">Recursos</a>
    <a mat-button routerLink="/machines">Máquinas</a>
    <a mat-button routerLink="/batches">Bateladas</a>
    <a mat-button routerLink="/glazes">Glasuras</a>
    <a mat-button routerLink="/products">Produtos</a>
    <a mat-button routerLink="/kilns">Fornos</a>
    <a mat-button routerLink="/drying-rooms">Estufas</a>
    <a mat-button routerLink="/reports">Relatório Geral</a>
    <a mat-button routerLink="/account">Minha Conta</a>
    <button mat-button (click)="authService.logout()">Sair</button>
  </ng-container>
  <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Cadastro</a>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>