.container {
  padding: 24px 48px;

  @media (max-width: 599px) {
    padding: 10px;
  }
}

.add-button-wrapper {
  display: flex;
  margin-bottom: 16px;

  @media (max-width: 599px) {
    justify-content: center; /* Centraliza apenas em mobile */
  }
}

.add-button {
  /* Removido display: flex e justify-content: center daqui */
}

.button-container {
  position: sticky;
  top: 50px; /* Abaixo do h1 */
  background-color: white;
  z-index: 101;
  padding: 10px 0;

  @media (max-width: 599px) {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: 16px; /* Reduz a margem inferior do título */
}

tr.detail-row {
  height: 0;
}

.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.details-container {
  padding: 16px;
  background-color: #f9f9f9;
  width: 100%;
}

.details-container h4 {
  margin-top: 0;
  font-weight: 500;
}

.details-container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}