<div class="container">
  <h1>Glasuras</h1>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openGlazeForm()" class="add-button">Adicionar Glasura</button>
  </div>

  <table mat-table [dataSource]="glazes" class="mat-elevation-z8">

    <!-- Colunas de Dados -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Cor </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="currentQuantity">
      <th mat-header-cell *matHeaderCellDef> Qtd. em Estoque </th>
      <td mat-cell *matCellDef="let element"> {{element.currentQuantity | decimalFormat}} kg </td>
    </ng-container>

    <ng-container matColumnDef="unitCost">
      <th mat-header-cell *matHeaderCellDef> Custo de Produção </th>
      <td mat-cell *matCellDef="let element"> {{element.unitCost | currency:'BRL'}} /kg </td>
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openGlazeDetails(element.id)" title="Ver Detalhes">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openGlazeForm(element)" title="Editar Glaze">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteGlaze(element.id)" title="Excluir Glasura">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="openTransactionList(element.id)" title="Ver Transações">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="openReport(element.id)" title="Ver Relatório">
          <mat-icon>bar_chart</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>