<h1 mat-dialog-title>Detalhes da Queima de Biscoito</h1>

<div mat-dialog-content *ngIf="bisqueFiring" class="details-container">
  <div class="info-section">
    <h2>Informações Gerais</h2>
    <p><strong>ID:</strong> {{ bisqueFiring.id }}</p>
    <p><strong>Criado Em:</strong> {{ bisqueFiring.createdAt | date:'short' }}</p>
    <p><strong>Atualizado Em:</strong> {{ bisqueFiring.updatedAt | date:'short' }}</p>
    <p><strong>Temperatura:</strong> {{ bisqueFiring.temperature | decimalFormat }} °C</p>
    <p><strong>Tempo de Queima:</strong> {{ bisqueFiring.burnTime | decimalFormat }} horas</p>
    <p><strong>Tempo de Resfriamento:</strong> {{ bisqueFiring.coolingTime | decimalFormat }} horas</p>
    <p><strong>Consumo de Gás:</strong> {{ bisqueFiring.gasConsumption | decimalFormat }} m³</p>
    <p><strong>Custo:</strong> {{ bisqueFiring.cost | currency:'BRL' }}</p>
  </div>

  <div class="table-section">
    <h2>Produtos Queimados</h2>
    <table mat-table [dataSource]="bisqueFiring.biscuits" class="mat-elevation-z8">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} - ID: {{element.id}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="biscuitsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: biscuitsColumns;"></tr>
    </table>
  </div>

  <div class="table-section">
    <h2>Uso de Funcionários</h2>
    <table mat-table [dataSource]="bisqueFiring.employeeUsages" class="mat-elevation-z8">
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>
      <ng-container matColumnDef="usageTime">
        <th mat-header-cell *matHeaderCellDef> Tempo de Uso </th>
        <td mat-cell *matCellDef="let element"> {{element.usageTime | decimalFormat}} h </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="employeeUsagesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: employeeUsagesColumns;"></tr>
    </table>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fechar</button>
</div>
