/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-content {
  max-height: 70vh;
  overflow: auto;
}

.mat-mdc-table {
  width: 100%;
}

th.mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  z-index: 1;
  background-color: white;
}
