<h1 mat-dialog-title>{{ isEditMode ? 'Editar Glasura' : 'Adicionar Glasura' }}</h1>

<div mat-dialog-content [formGroup]="glazeForm" class="vertical-layout">
  <mat-form-field appearance="fill">
    <mat-label>Cor</mat-label>
    <input matInput formControlName="color" required appTrim>
  </mat-form-field>

  <!-- Seção de Uso de Recursos -->
  <h2>Uso de Recursos (para 1kg de Glasura)</h2>
  <div formArrayName="resourceUsages">
    <div *ngFor="let resourceUsage of resourceUsages.controls; let i=index" [formGroupName]="i" class="form-array-item">
      <div class="form-array-item-row">
        <button mat-icon-button color="warn" (click)="removeResourceUsage(i)" title="Remover Recurso">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-form-field appearance="fill">
          <mat-label>Recurso</mat-label>
          <mat-select formControlName="resourceId" required>
            <mat-option *ngIf="getAvailableResources(i).length === 0" disabled>Não há mais recursos para selecionar</mat-option>
            <mat-option *ngFor="let resource of getAvailableResources(i)" [value]="resource.id">{{ resource.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Quantidade (kg)</mat-label>
          <input matInput type="text" formControlName="quantity" appDecimalMask required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addResourceUsage()">Adicionar Recurso</button>

  <!-- Seção de Uso de Máquinas -->
  <h2 class="section-title">Uso de Máquinas</h2>
  <div formArrayName="machineUsages">
    <div *ngFor="let machineUsage of machineUsages.controls; let i=index" [formGroupName]="i" class="form-array-item">
      <div class="form-array-item-row">
        <button mat-icon-button color="warn" (click)="removeMachineUsage(i)" title="Remover Máquina">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-form-field appearance="fill">
          <mat-label>Máquina</mat-label>
          <mat-select formControlName="machineId" required>
            <mat-option *ngIf="getAvailableMachines(i).length === 0" disabled>Não há mais máquinas para selecionar</mat-option>
            <mat-option *ngFor="let machine of getAvailableMachines(i)" [value]="machine.id">{{ machine.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tempo de Uso (horas)</mat-label>
          <input matInput type="text" formControlName="usageTime" appDecimalMask required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" (click)="addMachineUsage()">Adicionar Máquina</button>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="glazeForm.invalid">Salvar</button>
</div>